* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    /*border-radius: 12px;*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/*************************/
/* Module Configurations */
/*************************/
#taskbar button,
#workspaces button,
#idle_inhibitor,
#power-profiles-daemon, 
#backlightAndPulseaudio,
#tray,
#clock,
#quicksettings {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.3);
}
/* Specifics */
#backlight {
    padding-right: 10px;
}
#battery {
    padding-right: 10px;
}
#custom-power {
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 180, 180, 0.5)
}

#taskbar button:hover,
#workspaces button:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover, 
#pulseaudio:hover,
#clock:hover,
#custom-quicksettings:hover,
#custom-powerbutton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    animation-name: fade;
    animation-duration: 2s;
}

/*************************/
/* Power Profiles Daemon */
/*************************/
#power-profiles-daemon {
    color: rgba(255, 255, 255, 1);
}
#power-profiles-daemon.performance {
    background-color: rgb(255, 140, 0);
}
#power-profiles-daemon.balanced {
    background-color: rgb(0, 170, 255);
}
#power-profiles-daemon.power-saver {
    background-color: rgb(0, 199, 0);
}

